<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>effect1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{49, 49}, {53, 56}}</string>
			<key>spriteOffset</key>
			<string>{1, 2}</string>
			<key>spriteSize</key>
			<string>{53, 56}</string>
			<key>spriteSourceSize</key>
			<string>{149, 158}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{445, 245}, {53, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>effect10.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{18, 19}, {113, 122}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{113, 122}</string>
			<key>spriteSourceSize</key>
			<string>{149, 158}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 389}, {113, 122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>effect11.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{17, 17}, {115, 126}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{115, 126}</string>
			<key>spriteSourceSize</key>
			<string>{149, 158}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{5, 118}, {115, 126}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>effect12.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 16}, {119, 128}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{119, 128}</string>
			<key>spriteSourceSize</key>
			<string>{149, 158}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{105, 248}, {119, 128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>effect13.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{15, 14}, {121, 132}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{121, 132}</string>
			<key>spriteSourceSize</key>
			<string>{149, 158}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{118, 378}, {121, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>effect14.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{12, 10}, {125, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{125, 136}</string>
			<key>spriteSourceSize</key>
			<string>{149, 158}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{238, 116}, {125, 136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>effect15.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 8}, {129, 140}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{129, 140}</string>
			<key>spriteSourceSize</key>
			<string>{149, 158}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{242, 371}, {129, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>effect2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{41, 43}, {67, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{67, 68}</string>
			<key>spriteSourceSize</key>
			<string>{149, 158}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{135, 47}, {67, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>effect3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{36, 38}, {77, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{77, 78}</string>
			<key>spriteSourceSize</key>
			<string>{149, 158}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{430, 313}, {77, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>effect4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{28, 33}, {91, 94}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{91, 94}</string>
			<key>spriteSourceSize</key>
			<string>{149, 158}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{233, 273}, {91, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>effect5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{25, 22}, {99, 108}}</string>
			<key>spriteOffset</key>
			<string>{0, 3}</string>
			<key>spriteSize</key>
			<string>{99, 108}</string>
			<key>spriteSourceSize</key>
			<string>{149, 158}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3, 275}, {99, 108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>effect6.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{24, 25}, {101, 108}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{101, 108}</string>
			<key>spriteSourceSize</key>
			<string>{149, 158}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{325, 258}, {101, 108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>effect7.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{22, 24}, {103, 110}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{103, 110}</string>
			<key>spriteSourceSize</key>
			<string>{149, 158}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{372, 400}, {103, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>effect8.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{21, 22}, {107, 114}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{107, 114}</string>
			<key>spriteSourceSize</key>
			<string>{149, 158}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{125, 130}, {107, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>effect9.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{20, 21}, {109, 118}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{109, 118}</string>
			<key>spriteSourceSize</key>
			<string>{149, 158}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{378, 119}, {109, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
	</dict>
</dict>
</plist>