<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>circle1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{23, 23}, {91, 87}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{91, 87}</string>
			<key>spriteSourceSize</key>
			<string>{133, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{192, 424}, {91, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>circle10.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{23, 23}, {87, 87}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{87, 87}</string>
			<key>spriteSourceSize</key>
			<string>{133, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{288, 424}, {87, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>circle11.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{23, 23}, {87, 87}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{87, 87}</string>
			<key>spriteSourceSize</key>
			<string>{133, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{192, 333}, {87, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>circle12.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{21, 23}, {89, 87}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{89, 87}</string>
			<key>spriteSourceSize</key>
			<string>{133, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{98, 424}, {89, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>circle13.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{20, 23}, {91, 87}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{91, 87}</string>
			<key>spriteSourceSize</key>
			<string>{133, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 149}, {91, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>circle14.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{20, 23}, {91, 87}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{91, 87}</string>
			<key>spriteSourceSize</key>
			<string>{133, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{97, 69}, {91, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>circle15.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{23, 23}, {87, 87}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{87, 87}</string>
			<key>spriteSourceSize</key>
			<string>{133, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{377, 147}, {87, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>circle16.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{23, 23}, {87, 87}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{87, 87}</string>
			<key>spriteSourceSize</key>
			<string>{133, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{192, 153}, {87, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>circle17.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{23, 23}, {87, 87}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{87, 87}</string>
			<key>spriteSourceSize</key>
			<string>{133, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{284, 51}, {87, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>circle18.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{23, 21}, {87, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{87, 89}</string>
			<key>spriteSourceSize</key>
			<string>{133, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{190, 61}, {87, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>circle19.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{23, 20}, {87, 91}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{87, 91}</string>
			<key>spriteSourceSize</key>
			<string>{133, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{378, 420}, {87, 91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>circle2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{23, 23}, {89, 87}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{89, 87}</string>
			<key>spriteSourceSize</key>
			<string>{133, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{97, 159}, {89, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>circle20.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{23, 21}, {87, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{87, 89}</string>
			<key>spriteSourceSize</key>
			<string>{133, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3, 422}, {87, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>circle21.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{23, 23}, {87, 87}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{87, 87}</string>
			<key>spriteSourceSize</key>
			<string>{133, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{97, 247}, {87, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>circle22.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{23, 23}, {87, 87}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{87, 87}</string>
			<key>spriteSourceSize</key>
			<string>{133, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{377, 330}, {87, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>circle23.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{23, 23}, {87, 87}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{87, 87}</string>
			<key>spriteSourceSize</key>
			<string>{133, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{288, 141}, {87, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>circle24.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{23, 23}, {89, 87}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{89, 87}</string>
			<key>spriteSourceSize</key>
			<string>{133, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{192, 243}, {89, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>circle25.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{23, 23}, {91, 87}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{91, 87}</string>
			<key>spriteSourceSize</key>
			<string>{133, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{97, 335}, {91, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>circle26.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 7}, {35, 35}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{35, 35}</string>
			<key>spriteSourceSize</key>
			<string>{47, 47}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{473, 185}, {35, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>circle27.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 5}, {39, 39}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{39, 39}</string>
			<key>spriteSourceSize</key>
			<string>{47, 47}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{470, 226}, {39, 39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>circle28.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {43, 43}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{43, 43}</string>
			<key>spriteSourceSize</key>
			<string>{47, 47}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{468, 316}, {43, 43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>circle29.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {43, 43}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{43, 43}</string>
			<key>spriteSourceSize</key>
			<string>{47, 47}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{466, 268}, {43, 43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>circle3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{23, 23}, {87, 87}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{87, 87}</string>
			<key>spriteSourceSize</key>
			<string>{133, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{377, 238}, {87, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>circle30.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 11}, {27, 27}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{27, 27}</string>
			<key>spriteSourceSize</key>
			<string>{47, 47}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{473, 437}, {27, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>circle31.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 8}, {33, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{33, 33}</string>
			<key>spriteSourceSize</key>
			<string>{47, 47}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{422, 12}, {33, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>circle32.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 5}, {39, 39}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{39, 39}</string>
			<key>spriteSourceSize</key>
			<string>{47, 47}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{470, 469}, {39, 39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>circle33.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {43, 43}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{43, 43}</string>
			<key>spriteSourceSize</key>
			<string>{47, 47}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{466, 361}, {43, 43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>circle34.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {43, 43}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{43, 43}</string>
			<key>spriteSourceSize</key>
			<string>{47, 47}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{467, 56}, {43, 43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>circle35.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {43, 43}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{43, 43}</string>
			<key>spriteSourceSize</key>
			<string>{47, 47}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{466, 104}, {43, 43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>circle36.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{12, 13}, {23, 23}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{23, 23}</string>
			<key>spriteSourceSize</key>
			<string>{47, 47}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{473, 409}, {23, 23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>circle37.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 10}, {29, 29}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{29, 29}</string>
			<key>spriteSourceSize</key>
			<string>{47, 47}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{472, 152}, {29, 29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>circle38.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 8}, {33, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{33, 33}</string>
			<key>spriteSourceSize</key>
			<string>{47, 47}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{469, 12}, {33, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>circle4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{23, 23}, {87, 87}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{87, 87}</string>
			<key>spriteSourceSize</key>
			<string>{133, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{285, 234}, {87, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>circle5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{23, 23}, {87, 87}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{87, 87}</string>
			<key>spriteSourceSize</key>
			<string>{133, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3, 332}, {87, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>circle6.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{23, 23}, {87, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{87, 89}</string>
			<key>spriteSourceSize</key>
			<string>{133, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{286, 328}, {87, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>circle7.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{23, 23}, {87, 91}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{87, 91}</string>
			<key>spriteSourceSize</key>
			<string>{133, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3, 238}, {87, 91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>circle8.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{23, 23}, {87, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{87, 89}</string>
			<key>spriteSourceSize</key>
			<string>{133, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{6, 58}, {87, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>circle9.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{23, 23}, {87, 87}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{87, 87}</string>
			<key>spriteSourceSize</key>
			<string>{133, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{376, 54}, {87, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
	</dict>
</dict>
</plist>